<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <title>Price Tracker</title>

    <script>
      window.onload = function () {

      var data = [];
      var dataSeries = { type: "line" };
      var dataPoints = [];
      var flask_output = {{ data | safe }};
      var i = 0;
      for (const date_id in flask_output) {
          if (flask_output[date_id] < 0.01 ) {
              continue;
          }
          var curr_date = date_id;
          var day = date_id % 100;
          curr_date = Math.floor(date_id/100);
          var month = curr_date % 100;
          var year = Math.floor(date_id/10000);

          console.log(year);
          console.log(month);
          console.log(day);
          console.log(' ');
        dataPoints.push({
          x: new Date(year, month-1, day), // java script months are 0 indexed for some reason :/
          y: flask_output[date_id]
        });
        i += 1;
      }
      dataSeries.dataPoints = dataPoints;
      data.push(dataSeries)

      //Better to construct options first and then pass it as a parameter
      var options = {
        zoomEnabled: true,
        animationEnabled: true,
        axisY: {
          includeZero: false
        },
        data: data
      };

      $("#chartContainer").CanvasJSChart(options);

      }
    </script>
  </head>
  <body>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand" href="/"><strong>Price Tracker</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/stocks">Stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/commodities">Commodities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row" style="margin-top: 3rem;">
        <div class="col-md-8">

          <h1><strong>{{item_name}}</strong></h1>
          <div id="chartContainer" style="width: 100%;"></div>
        <div class="col-md-4"></div>
      </div>

      <div class="col-md-4">
        <br /> <br /> <br />
        <h2><strong>Quick Stats</strong></h2>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Maximum Price</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{max_date}}</h6>
            <p class="card-text"><strong>{{max}}</strong></p>
          </div>
        </div>
        <div class="card" style="margin-top: 10px; width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Minimum Price</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{min_date}}</h6>
            <p class="card-text"><strong>{{min}}</strong></p>
          </div>
        </div>
        <br />
        <small >Similar assets:</small> <br style="margin-bottom: 5px;"/>
        <a href="/timeline" class="btn btn-info btn-sm">GOOG</a> <a href="/timeline" class="btn btn-info btn-sm">Computers</a>
      </div>
    </div>
    <a class="twitter-timeline" href={{link}}></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>